test-out
asl_dataset
asl_processed
asl_split_nuevo
deprecated
ASL-HG
ASL_Processed_Images.zip
ASL_Raw_Images.zip
ASL-HG American Sign Language Hand Gesture Image D.zip
hand_landmarker.task
mejor_model.pth
mejor_modelo_.pth
model_cargado_cbam_my_tf_fine_tuned_final_.keras
model_cbam_my_tf_fine_tuned_.keras
model_my_tf_fine_tuned_.keras
model_my_tf.h5
model_my_tf.keras
ASL
a-test.zip
asl_test_landmarks.csv
asl_train_landmarks.csv
asl_val_landmarks.csv
finetunned.keras
markdown.py
nuevo.zip
test-2.zip
.venv